.counts {
	background: #34495E;
	color: #fff;
	border-radius: 5px;
	width: 225px;
}

.counts div {
	padding: 8px;
}

.counts span {
	float: right;
}

table {
	border-radius: 5px;
	overflow: hidden;
	margin: 12px 0;
	min-width: 225px;
}

th, td {
	text-align: left;
	font-weight: normal;
	margin: 5px 10px;
	padding: 6px;
}

td:nth-child(even) {
	text-align: right;
}